<a href="https://colab.research.google.com/github/MillenRodrigues/Atividade-T4/blob/main/Atividade_T4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade de Aprofundamento - Trilha 4


### Millen Tavares Rodrigues         Tia: 92300073

----

In [2]:
import pandas as pd

In [17]:
# Baixa os dados da Gap Minder
# Conclusão da escola primária
!wget https://github.com/MillenRodrigues/Atividade-T4/raw/main/dataset/primary_completion_rate_total_percent_of_relevant_age_group.csv
# Indice de desigualdade de renda
!wget https://github.com/MillenRodrigues/Atividade-T4/raw/main/dataset/gini.csv

--2023-03-16 01:00:25--  https://github.com/MillenRodrigues/Atividade-T4/raw/main/dataset/primary_completion_rate_total_percent_of_relevant_age_group.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/MillenRodrigues/Atividade-T4/main/dataset/primary_completion_rate_total_percent_of_relevant_age_group.csv [following]
--2023-03-16 01:00:25--  https://raw.githubusercontent.com/MillenRodrigues/Atividade-T4/main/dataset/primary_completion_rate_total_percent_of_relevant_age_group.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 30912 (30K) [text/plain]
Saving to: ‘primary_completion_rate_total_percent_of_relevant_age_group.csv’

primary_completion_ 100%[===================>]  30.19K  --.-KB/s    in 0s

2023-03-16 01:00:25 (134 MB/s) - ‘primary_completion_rate_total_percent_of_relevant_age_group.csv’ saved [30912/30912]

--2023-03-16 01:00:25--  https://github.com/MillenRodrigues/Atividade-T4/raw/main/dataset/gini.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/MillenRodrigues/Atividade-T4/main/dataset/gini.csv [following]
--2023-03-16 01:00:26--  https://raw.githubusercontent.com/MillenRodrigues/Atividade-T4/main/dataset/gini.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 238613 (233K) [text/plain]
Saving to: ‘gini.csv’

gini.csv            100%[===================>] 233.02K  --.-KB/s    in 0.005s

2023-03-16 01:00:26 (41.4 MB/s) - ‘gini.csv’ saved [238613/238613]

# Analise dos dados de escolaridade primaria por pais ao longo dos anos

In [51]:
escola_primaria=pd.read_csv('primary_completion_rate_total_percent_of_relevant_age_group.csv')
display(escola_primaria.shape)
display(escola_primaria.head())

(199, 53)

,country,1969,1970,1971,1972,1973,1974,1975,1976,1977,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.6,101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,16.7,NaN,NaN,17.9,19.7,...,NaN,NaN,NaN,NaN,80.5,84.4,85.6,84.3,NaN,NaN
2,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.7,89.5,101.0,98.9,99.9,102.0,102.0,103.0,101.0,NaN
4,United Arab Emirates,NaN,NaN,NaN,NaN,39.5,41.7,49.5,56.8,60.7,...,93.9,95.7,99.1,104.0,NaN,NaN,NaN,112.0,105.0,NaN

In [52]:
# reformatando a tabela para um formato mais conveniente
escola_primaria=escola_primaria.set_index('country')
escola_primaria=escola_primaria.T
escola_primaria.columns.name = 'Ano'
display(escola_primaria.head())

Ano,Aruba,Afghanistan,Angola,Albania,United Arab Emirates,Argentina,Armenia,Antigua and Barbuda,Austria,Azerbaijan,...,Venezuela,British Virgin Islands,Virgin Islands (U.S.),Vietnam,Vanuatu,Samoa,Yemen,South Africa,Zambia,Zimbabwe
1969,NaN,NaN,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,NaN,NaN,NaN,NaN,71.8,NaN,NaN,95.0,NaN,...,59.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.9,NaN,...,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.6,NaN
1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.1,NaN,...,66.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.3,NaN
1973,NaN,16.7,NaN,NaN,39.5,75.6,NaN,NaN,NaN,NaN,...,67.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.0,NaN

In [50]:
# conta os nulos por país

In [20]:
indice_desigualdade_economica=pd.read_csv('gini.csv')
indice_desigualdade_economica

,country,1799,1800,1801,1802,1803,1804,1805,1806,1807,...,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049
0,Afghanistan,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,30.5,...,38.2,38.2,38.2,38.2,38.2,38.2,38.2,38.2,38.2,38.2
1,Angola,57.7,57.7,57.7,57.7,57.7,57.7,57.7,57.7,57.7,...,52.0,52.0,52.0,52.0,52.0,52.0,52.0,52.0,52.0,52.0
2,Albania,39.9,39.9,39.9,39.9,39.9,39.9,39.9,39.9,39.9,...,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7,33.7
3,Andorra,42.5,42.5,42.5,42.5,42.5,42.5,42.5,42.5,42.5,...,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0
4,United Arab Emirates,39.8,39.8,39.8,39.8,39.8,39.8,39.8,39.7,39.7,...,25.9,25.9,25.9,25.9,25.9,25.9,25.9,25.9,25.9,25.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,40.7,40.7,40.7,40.7,40.7,40.7,40.7,40.7,40.7,...,38.7,38.7,38.7,38.7,38.7,38.7,38.7,38.7,38.7,38.7
193,Yemen,49.8,49.8,49.8,49.8,49.8,49.8,49.8,49.8,49.8,...,37.4,37.4,37.4,37.4,37.4,37.4,37.4,37.4,37.4,37.4
194,South Africa,35.2,35.2,35.2,35.2,35.2,35.2,35.2,35.2,35.2,...,63.9,63.9,63.9,63.9,63.9,63.9,63.9,63.9,63.9,63.9
195,Zambia,52.1,52.1,52.1,52.1,52.1,52.1,52.1,52.1,52.1,...,57.8,57.8,57.8,57.8,57.8,57.8,57.8,57.8,57.8,57.8
196,Zimbabwe,27.3,27.3,27.3,27.3,27.3,27.3,27.3,27.3,27.3,...,50.9,50.9,50.9,50.9,50.9,50.9,50.9,50.9,50.9,50.9